.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*To center a div give max-width of 1400px to div and give it a margin of 0 auto */
/* To make sure that all contents are in the middle */
.navbar,
.banner,
.teams {
  max-width: 1400px;
  margin: 0 auto;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.8rem;
}
/* Colors */
.dark-2 {
  color: #424242;
}

.dark-1 {
  color: #131313;
}

.dark-3 {
  color: #727272;
}

.bg-primary {
  background-color: rgba(255, 144, 14, 0.1);
}

.display-flex {
  display: flex;
}

/* Navbar Section */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}

.nav-links {
  gap: 20px;
  align-items: center;
  font-weight: 500;
  color: #424242;
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
}

.nav-links a:visited {
  color: #424242;
}

.nav-items {
  list-style: none;
  margin-right: 30px;
}

/* Banner Section */
.banner-content {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
}

.banner-image {
  width: 100%;
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: #fff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}

.teams {
  align-items: center;
  margin-top: 85px;
  gap: 74px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
}

.feature-title {
  font-size: 2.8rem;
}

.Span-1 {
  font-weight: 400;
}

.Span-2 {
  font-weight: 700;
}

.Span-3 {
  color: rgba(255, 144, 14, 1);
}

.feature-description {
  font-weight: 400;
  font-size: 1rem;
}

.some-facts {
  margin-top: 130px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
  margin-top: 100px;
}

.facts {
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 0.5rem;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
}

.fact-info {
  flex-direction: column;
  gap: 9px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number,
.fact-name {
  margin: 0;
}

.fact-number {
  font-size: 2.8rem;
}

.fact-name {
  font-size: 20px;
  font-weight: 600;
}

/* RESPONSIVE MEDIA */

@media screen and (max-width: 576px) {
  .display-flex {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-img-container img {
    width: 100%;
  }

  .our-features {
    margin-left: 10px;
  }
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 999px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 40px;
  }
}
